/.settings/*

/html-template/*
/bin/*
/dist/*
/docs/*
/uml/*

.actionScriptProperties
.flexProperties
.flexLibProperties
.fxpProperties
.project
.sourceMate
.sourceMateMetadataSettings
setEnv.sh
asblocks.as3proj

Icon
Thumbs.db
.DS_Store